/* Common */

:root {
    --white: #f3f4f8;
    --lightestgray: #d2d4da;
    --lightergray: #b2b5bd;
    --lightgray: #9496a1;
    --gray: #777986;
    --darkgray: #5b5d6b;
    --darkergray: #404252;
    --darkestgray: #282a3a;
    --black: #101223;

    --white-transparent: rgba(243, 244, 248, 0.75);
    --black-transparent: rgba(16, 18, 35, 0.75);

    --icon-size: 5px;
}

body {
    background-color: var(--lightestgray);
    font-family: Sans-Serif;
    margin: 0;

    display: flex;
    flex-direction: column;

    height: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: left;
    list-style-type: none;
    margin: 0;
    padding: 0;

    background-color: var(--darkestgray);
}

.navitem {
    display: flex;
}

.navitem a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    color: var(--white);
}

.navitem a:hover {
    background-color: var(--gray);
}

main {
    background-color: var(--lightestgray);
    padding: 10px;
}   

/* Images */

.headshot {
    width: 232px;
    height: 288px;
    float: left;
    padding: 1em 0em;
    padding-right: 1em;
}

.projectimg {
    /* width: 25%; */
    height: 15em;
    padding: 0em 1em;
}

/* Text */

.text {
    text-indent: 1em;
}

.publication-list {
    list-style-type: circle;
    list-style-position: inside;
    /* margin-left: 0; */
    padding-left: 0;
}

.publication-item{
    color: var(--darkestgray)
}

.publication-item a{
    text-decoration: none;
    color: var(--darkestgray)
}

.publication-item a:hover{
    text-decoration: underline;
    color: var(--darkestgray)
}


/* Custom jQury UI Icons */

.ui-icon.custom-icon-triangle-right {
    width: 0; 
    height: 0; 
    border-top: var(--icon-size) solid transparent;
    border-bottom: var(--icon-size) solid transparent;
    border-left: var(--icon-size) solid var(--black);

    margin-right: 0.5em;
}

.ui-icon.custom-icon-triangle-down {
    width: 0; 
    height: 0; 
    border-left: var(--icon-size) solid transparent;
    border-right: var(--icon-size) solid transparent;
    border-top: var(--icon-size) solid var(--black);

    margin-right: 0.5em;
}

.ui-accordion .ui-accordion-header {
    border-radius: 0px;

    background: var(--white) !important;
}

.ui-accordion .ui-accordion-header:hover {
    border-radius: 0px;

    background: var(--lightergray) !important;

    /* box-shadow: 1px 1px 10px; */
}

.ui-accordion .ui-accordion-content {
    border-radius: 0px;
}
